@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="dropdow">
    <a href="#" class="header-auth-text account">
        <i class="fa-regular fa-user " style="font-size:28px; color:black;"></i>
    </a>
    <ul class="dropdow-list" style="background:none;">
        <li><a class="dropdown-item" asp-area="CustomerUser" asp-controller="Customers" asp-action="Details" asp-route-customerId="@Context.Session.GetInt32("CustomerId")">Thông tin cá nhân</a></li>
        <li><a class="dropdown-item" asp-area="CustomerUser" asp-controller="Login" asp-action="Logout">Đăng xuất</a></li>
    </ul>
</div>
