
<h2>Quản lý sản phẩm</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Created At</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Product 1</td>
            <td>500,000 đ</td>
            <td>25-12-2020</td>
            <td><img src="./images/product/product1.jfif" alt="Product Image" style=""></td>
            <td><button class="actions-btn">View</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Product 2</td>
            <td>700,000 đ</td>
            <td>25-12-2020</td>
            <td><img src="./images/product/product2.jfif" alt="Product Image"></td>
            <td><button class="actions-btn">View</button></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Product 3</td>
            <td>550,000 đ</td>
            <td>25-12-2020</td>
            <td><img src="./images/product/product3.jfif" alt="Product Image"></td>
            <td><button class="actions-btn">View</button></td>
        </tr>
        
    </tbody>
</table>